body{
  background-image: url(assets/ornament2.png);
  background-attachment: scroll;
  font-size: 16px;
  font-family: 'Kosugi Maru', sans-serif;
  color: #0A0909;
  }


#wapper-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#wapper-bord{
  background: white;
  width: 80%;
  margin-top: 100px;
  position: relative;

}



#scoreboard{
font-size: 1.2rem;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px dashed #BA0016;

}
#time-game{
  margin-left: 20px;
}
.button-main {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #BA0016;
  color: #BA0016;
  font-family: 'Kosugi Maru', sans-serif;
  transition: .4s;
  background: white;
}
.button-main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0,0,0,0);
  transition: .4s;
}


.button-container button:hover:after {
  border-color: #BA0016;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.button-container button:hover{
cursor: pointer;
}

.sound-game{
    font-size: 20px;
    padding: 10px;
    color: #BA0016;
    margin: 0;
    padding: 0;
    background: none;
    border: none;

  }
  #sound-button-click:hover{
    cursor: pointer
    }

  .sound-game-border{
    background: #BABABA;
    border: none;
    opacity: 0.4;
    border: 2px solid #DCDCDC;

  }
  #wrapper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-top: 2px dashed #BA0016;
    visibility: hidden;
  }

  #open-close-menu{
    color: #BA0016;
    background: white;
    margin: 0;
    border: 2px solid #BA0016;
    font-size: 1rem;
  }
.wrapper-all-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
  #logo-style{
    font-size: 3rem;
    border-bottom: 2px dashed #BA0016;
    margin: 20px;
    color:#310000;
  }

  #wrapper-menu{
  visibility: hidden;
  box-sizing:border-box;
  background: white;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border: 60px solid #40c4c8;
  padding: 60px;
  border-image: url(assets/ornament1.png) 60 round round;
  z-index: 1;
  }

  #wrapper-menu ul{
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
  #wrapper-menu li{
      box-sizing:border-box;
      font-size: 2rem;
      padding: 20px;
      list-style-type: none;
      font-family: 'Kosugi Maru', sans-serif;
      cursor: pointer;
      border-bottom: 2px solid white;


    }
    #wrapper-menu li:hover{
      color: #BA0016;
      border-bottom: 2px solid #BA0016;

    }

  #back-button:hover{
      border: none !important;
    }

 @keyframes move_menu { from { opacity: 0; } to { opacity: 1; }  }

 /* board */

#board-game{
  background-image: url(assets/bacground.jpg);
  width: 450px;
  height: 450px;
  border: 15px ridge #CDCDCD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#wapper-board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.pise-all{
  height: calc(450px/ 4);
  width: calc(450px/ 4);
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}
.piece-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 3rem;
  border: 2px dashed #fff;
  background-color: #d90e23;
    -moz-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -o-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #d90e23, 2px 1px 6px 4px rgba(10,10,0,.5);

    background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
    background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-webkit-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
    background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
    background-size:10px 10px;
}

@keyframes move_piece_right {

from {position: relative; right: calc(450px/ 4);}
to  { position: relative; right:0;} }

@keyframes move_piece_left {

from {position: relative; left: calc(450px/ 4);}
to  {position: relative; left:0;} }

@keyframes move_piece_top {

from {position: relative; top: calc(450px/ 4);)}
to  {position: relative; top:0;} }

@keyframes move_piece_bottom {

from {position: relative; bottom:calc(450px/ 4);)}
to {position: relative; bottom:0;}

 }

#change-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 2rem;
  padding: 20px;
  font-family: 'Kosugi Maru', sans-serif;
  display: none;
}

#change-block div, #back-button-sound{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#change-block input{
    margin-left: 30px;
    height: 30px;
    width: 30px;
}

#back-button-sound{
  cursor: pointer;
}

#playing-reach-size input{
  width: 100%;
}

#playing-reach-size{
  flex-direction: column !important;
  margin-bottom: 20px;
}

#range-size{
  margin: 20px;
}

#change-block p{
  margin: 0;
  padding: 0;
}
#change-block div{
  margin: 25px 0;
}

#wrapper-start-button{
  width: 450px;
  height: 450px;
  position: absolute;
  background-image: url(assets/bacground.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper-start-button button{
    font-size: 2rem;
    border: 5px solid;
    cursor: pointer;
}
#wrapper-congretulation{
    box-sizing: border-box;
    background: white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border: 60px solid #40c4c8;
    padding: 60px;
    border-image: url(assets/ornament1.png) 60 round round;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#congratulation-logo{
  font-size: 3rem;
  color: #BA0016;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-score-bord{
  display: flex;
  justify-content: center;
  align-items: center;
}
#back-button-congratulation{
  margin-top: 20px;
  font-size: 2rem;
  cursor: pointer;
}


#change-block-records{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 2rem;
  padding: 20px;
  width: 100%;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 0;
  padding: 0;
}

#back-button-records{
  font-size: 2rem;
  cursor: pointer;
  margin-top: 20px;
}

#records-table{
display:block;
table-layout: auto;
font-size: 1.3rem;

}

#records-table td {
  padding: 5px 30px;
  border-bottom: 2px dashed #BA0016;
}
#container-menu{
  display: flex;
  flex-direction: row;
}

#change-block-save-game{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  padding: 20px;
  height: calc(100% - 50px);
  width: 100%;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 0;
  padding: 0;
}

#back-button-game{
  cursor: pointer;
}
#save-game-table{
  font-size: 1.3rem;
}

#save-game-table td {
    padding: 5px 30px;

    border-bottom: 2px dashed #BA0016;

}
#save-game-table tr{
  cursor: pointer;
}
#save-game-table tr:hover{
  background: red;

}
